*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main
{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background: linear-gradient(rgba( 0 , 0 , 0 , 0.5),rgba(207, 15, 15, 0.5));
}
.main div
{
    height: 200px;
    width: 200px;
   
}
.main div img
{
    height: 200px;
    width: 100%;
}

   